<div class="bg-slate-700 text-white p-4">Angular v18 Zone Less Application</div>
<div class="control">
  <section class="card">
    <header><h3>Trigger global actions</h3></header>
    <nav>
      <button #apptick_button (click)="onTick()" text="AppRef.tick()">AppRef.tick()</button>
      <button #timeout_button (click)="onTimeout()" text="setTimeout(...)" title="Installs a timeout to run in 3s">
        setTimeout(...)
      </button>
      <button
        #interval_button
        (click)="onInterval()"
        text="setInterval(...)"
        title="Installs an interval to run twice every 4s"
      >
        setInterval(...)
      </button>
      <button #click_button (click)="clickNoop()" title="Click with a NoOp" text="Click">Click</button>
    </nav>
  </section>

  <!-- <section class="card">
    <header><h3>Control dirty check coloring</h3></header>
    <nav>
      <label>
        <input type="checkbox" #auto_clear checked (change.outside)="onAutoCheckboxChange($event)" />Clear dirty check
        coloring automatically
      </label>
      <span class="filler"></span>
      <button #clear (click.outside)="onClear()" text="Clear">Clear</button>
    </nav>
  </section> -->

  <section class="card">
    <header>
      <h3>Play with component input - current value: <span #input_value_field>n/a</span></h3>
    </header>
    <nav>
      <button #trigger_change (click)="onChange()" text="Trigger change">Trigger change</button>

      <label
        ><input
          type="checkbox"
          #propagate_by_input_signal_checkbox
          checked
          title="Provides the new value as an input signal"
        />change input signal</label
      >
      <label
        ><input
          type="checkbox"
          #propagate_by_input_signal_checkbox_after_timeout
          checked
          title="Provides the new value as an input signal after a timeout of 3secs"
        />change input signal after timeout</label
      >
      <label
        ><input
          type="checkbox"
          #propagate_by_value_checkbox
          checked
          title="Provides the new value as a new object (ref-change)"
        />change input object (ref-change)</label
      >
      <label
        ><input
          type="checkbox"
          #propagate_by_ref_checkbox
          checked
          title="Provides the new value by mutating the input object (no-ref-change)"
        />mutate input object (no ref-change)</label
      >
      <label
        ><input
          type="checkbox"
          #propagate_by_observable_checkbox
          checked
          title="Publishes the new value via Observable"
        />via Observable (no ref-change)</label
      >
    </nav>
  </section>
</div>

<div class="flex justify-center gap-5" style="height: 70px; margin: -12px 0 0">
  <app-bell #cdBell />
  <app-bell #renderBell bellType="render" />
</div>

<div class="cd-warning" (click.outside)="onTick()">Remember to trigger <i>tick()</i> to fire CD</div>

<main>
  <div class="grid px-6">
    <div>Angular v18 Zoneless observations:</div>
    <div class="py-2">
      <ul class="list-disc">
        <li>setTimeout and setInterval actions do not fire a CD cycle.</li>
        <li>
          Event listeners in templates (like click) will mark the ancestors as dirty. This is why OnPush parents still
          run change detection on click. (<a
            href="https://github.com/angular/angular/blob/7c8f026778b1486a4fc9cde21d8806e044618e89/packages/core/src/render3/instructions/listener.ts#L249"
            >See implementation</a
          >)
        </li>
        <li>Mark for check fires a CD cycle.</li>
        <li>Signal updates will mark the component as a dirty consummer & all ancestor as traversal.</li>
        <li>
          Local change detection is performed when a signal is updated inside a component. (Try to increment
          comp-1-x-2's signal)<br />
          More optimized change detection mechanism performed in the absense of ng zones.
        </li>
      </ul>
    </div>

    <div class="pt-2">
      Another interesting observation and optimization that comes with the absense of zones is that now when comp-1's
      signal is updated after 3 seconds, the ngAfterViewChecked callback is not called (check its component bell) for
      app-component and for comp-1 in contrast to zonefull applications.
    </div>
  </div>
  <app-comp-1
    [inputSignal]="inputSignal()"
    [inputByVal]="inputByVal"
    [inputByRef]="inputByRef"
    [inputObservable]="inputObservable"
  ></app-comp-1>

  <section class="card">
    <header><h3>Zoneless Change detection details</h3></header>
    <article>
      <ul>
        <li>setTimeout, setInterval will not fire a CD cycle</li>
        <li>
          Event listeners in templates (like click) will mark the ancestors as dirty. This is why OnPush parents still
          run change detection on click. (<a
            href="https://github.com/angular/angular/blob/7c8f026778b1486a4fc9cde21d8806e044618e89/packages/core/src/render3/instructions/listener.ts#L249"
            >See implementation</a
          >)
        </li>
        <li>Mark for check will not fire a CD cycle, this is done by the scheduler (currently NgZone)</li>
        <li>Signal updates will not fire a CD cycle, this is done by the scheduler (currently NgZone)</li>
        <li>Signal updates will mark the component as a dirty consummer & all ancestor as traversal</li>
      </ul>
    </article>
  </section>

  <div class="explanation">
    <section class="card">
      <header><h3>Good readings</h3></header>
      <ul>
        <li>
          <a
            href="https://angularindepth.com/posts/1053/everything-you-need-to-know-about-change-detection-in-angular"
            target="_blank"
            >Everything you need to know about change detection in Angular</a
          >
        </li>
        <li>
          <a
            href="https://blog.thoughtram.io/angular/2016/02/22/angular-2-change-detection-explained.html"
            target="_blank"
            >ANGULAR CHANGE DETECTION EXPLAINED</a
          >
        </li>
        <li>
          <a href="https://medium.com/@antoniopk/angular-change-detection-explained-169aea595423" target="_blank">
            Change Detection Fundamentals in Angular
          </a>
        </li>
      </ul>
    </section>

    <section class="card">
      <header><h3>Credit</h3></header>
      <article>
        <p>
          This project is forked from
          <a href="https://github.com/danielwiehl/edu-angular-change-detection">Daniel Wiehl's CD demo</a>. I'd like to
          thank him for his initial work.
        </p>
        <p>
          You can find this current demo
          <a href="https://github.com/jeanmeche/angular-change-detection">On my repo</a>.
        </p>

        <p>QR Code to this page:</p>
        <canvas #qrcode_canvas></canvas>
      </article>
    </section>
  </div>
</main>
